.App {
    font-family: sans-serif;
    text-align: center;
}

.bg {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center;
    will-change: opacity;
}